{% extends "SimAppBundle::layouts.html.twig" %}

{% block title %}SimAppBundle:Linkman:home{% endblock %}

{% block body %}
    <div class="page-header">
        <h2>{{ 'twig.builder.home.create' | trans | raw }}</h2>
    </div>

<div class="row">

    <div class="col-md-3">
    <div class="list-group">
        <a href="{{ url('create_event') }}" class="list-group-item">
            <h4 class="list-group-item-heading">{{ 'twig.builder.home.create_event' | trans | raw }}</h4>

        </a>
    </div>
    </div>

    <div class="col-md-3">
        <div class="list-group">
            <a href="{{ url('create_project') }}" class="list-group-item">
                <h4 class="list-group-item-heading">{{ 'twig.builder.home.create_project' | trans | raw }}</h4>

            </a>
        </div>
    </div>

    <div class="col-md-3">
        <div class="list-group">
            <a href="{{ url('create_connect') }}" class="list-group-item">
                <h4 class="list-group-item-heading">{{ 'twig.builder.home.create_connect' | trans | raw }}</h4>

            </a>
        </div>
    </div>

    <div class="col-md-3">
        <div class="list-group">
            <a href="{{ url('create_client') }}" class="list-group-item">
                <h4 class="list-group-item-heading">{{ 'twig.builder.home.create_client' | trans | raw }}</h4>

            </a>
        </div>
    </div>


</div>

{% endblock %}
