{% extends "SimAppBundle::layouts.html.twig" %}

{% block title %}SimAppBundle:Linkman:home{% endblock %}

{% block body %}

    <div class="jumbotron">
        <h2>{{ 'twig.project.add.add_connect_to' | trans | raw }}</h2>
    </div>

    <div class="container">

        <div class="row">

            <div class="col-md-6">

                <div class="page-header">
                    <h3>{{ 'twig.project.add.create_new_contacts' | trans | raw }}</h3>
                </div>
                {{ form(form) }}

            </div>

            <div class="col-md-6">
                <div class="page-header">
                    <h3>{{ 'twig.project.add.select_from' | trans | raw }}</h3>
                </div>
                {{ form(select_form) }}

            </div>


        </div>

    </div>


{% endblock %}


