{% extends "SimAppBundle::layouts.html.twig" %}

{% block title %}SimAppBundle:Linkman:home{% endblock %}

{% block body %}

    <div class="container">

        <div class="jumbotron">
            <h2>{{ 'twig.project.edit.project' | trans | raw }}: {{ project | raw }}</h2>
        </div>

        <div class="col-md-6">

            <div class="page-header">
                <h2>{{ 'twig.project.edit.event' | trans | raw }}({{ 'twig.project.edit.progress' | trans | raw }})
                    <small>
                        <a href="{{ url('event_created_from_project' , {'project_id' : project.id}) }}">
                            {{ 'twig.project.edit.new_event' | trans | raw }}
                        </a>
                    </small>
                </h2>
            </div>

            <ul>
            {% for event in project.event %}

                <li><span class="label label-info">{{ event.createdAt | date('Y-m-d') }}</span>
                    <strong>{{ event }}</strong>: {{ event.content }}
                </li>

            {% endfor %}
            </ul>
        </div>

        <div class="col-md-6">
            <div class="row">

                <div class="col-md-12 {% if project.client == false %}high_light{% endif %}">
                    <div class="page-header">
                        <h2>{{ 'twig.project.edit.client' | trans | raw }}</h2>
                    </div>

                    {% if project.client %}
                        <p>
                            {{ 'twig.project.edit.belong_to' | trans | raw }}:
                            <strong><a href="{{ url('edit_client' , {'client_id' : project.client.id}) }}">{{ project.client }}</a></strong>
                        </p>
                    {% else %}
                        <div class="row">
                            <div class="col-md-8">
                            {{ 'twig.project.edit.select' | trans | raw }}
                            {{ form(form) }}
                            </div>

                            <div class="col-md-4">
                            {{ 'twig.project.edit.or' | trans | raw }}
                                <strong>{{ 'twig.project.edit.create' | trans | raw }}</strong>
                                <p>
                                    <a class="btn btn-default" href="{{ url('create_client', {'project_id' : project.id}) }}">
                                        {{ 'twig.project.edit.create_new_client' | trans | raw }}
                                    </a>
                                </p>
                            </div>
                        </div>
                    {% endif %}
                </div>
                <div class="col-md-12">
                    <div class="page-header">
                        <h2>
                            {{ 'twig.project.edit.project_information' | trans | raw }}
                            <small>
                                <a href="{{ url('update_project_basic_info' , {'project_id' : project.id}) }}">
                                    {{ 'twig.update' | trans | raw }}
                                </a>
                            </small>

                            <small>
                                <a href="{{ url('history_of_project' , {'project_id' : project.id}) }}">
                                    {{ 'twig.history' | trans | raw }}
                                </a>
                            </small>

                        </h2>
                    </div>

                    <dl class="dl-horizontal">
                        <dt>{{ 'label.project.projectName' | trans | raw }}</dt>
                        <dd><h4>{{ project | raw }}</h4></dd>

                        <dt>{{ 'label.project.contactPayment' | trans | raw }}</dt>
                        <dd>{{ project.contactPayment }}

                            {% if project.currency %}
                                {{ project.currency }}
                            {% endif %}

                        </dd>

                        <dt>{{ 'label.project.signAt' | trans | raw }}</dt>
                        <dd>{% if project.signAt %}{{ project.signAt | date('Y-m-d') }}{% endif %}</dd>

                        <dt>{{ 'label.project.startAt' | trans | raw }}</dt>
                        <dd>{% if project.startAt %}{{ project.startAt | date('Y-m-d') }}{% endif %}</dd>

                        <dt>{{ 'label.project.endAt' | trans | raw }}</dt>
                        <dd>{% if project.endAt %}{{ project.endAt | date('Y-m-d') }}{% endif %}</dd>

                        {% for fluent in project.fluent %}
                        <dt>{{ fluent.subject }}</dt>
                        <dd>{{ fluent.value }}</dd>
                        {% endfor %}
                    </dl>

                </div>


                <div class="col-md-12">
                    <div class="page-header">
                        <h2>{{ 'twig.project.edit.contacts_of_project' | trans | raw }}
                            <small>
                                <a href="{{ url('update_project_connect_info' , {'project_id' : project.id}) }}">
                                    {{ 'twig.add' | trans | raw }}
                                </a>
                            </small>
                        </h2>
                    </div>

                    <ul>
                        {% for connect in project.connect %}
                            <li>
                                <a href="{{ url('connect_edit' , {'connect_id': connect.id}) }}">
                                    {{ connect.name }} ( {{ connect.description }} )
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>

            </div>


        </div>

    </div>
{% endblock %}


