{% extends "SimAppBundle::layouts.html.twig" %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron">
                <h2>{{ 'twig.client.edit.client' | trans | raw }}: {{ client.name }}</h2>
            </div>
        </div>

        <div class="col-md-6">
            <h3>{{ client.name }} {{ 'twig.client.edit.information' | trans | raw }}
                <small>
                    <a href="{{ url('update_client' , {'client_id' : client.id} ) }}">{{ 'twig.client.edit.update_info' | trans | raw }}</a>
                </small>
            </h3>

            <table class="table">
            <tr>
                <td>{{ 'twig.client.edit.description' | trans | raw }}</td>
                <td>{{ client.description }}</td>
            </tr>
            {% for fluent in client.fluent %}
                <tr>
                    <td>{{ fluent.subject }}</td>
                    <td>{{ fluent.value }}</td>
                </tr>
            {% endfor %}
            </table>
            <h3>{{ client.name }} {{ 'twig.client.edit.project' | trans | raw }}</h3>
            <hr/>
            <ul>
                {% for project in client.project %}
                    <li>
                        <h4><a href="{{ url('edit_project' , {'project_id' : project.id}) }}">{{ project | raw }}</a></h4>
                    </li>
                {% endfor %}
            </ul>

        </div>
    </div>


{% endblock %}