{% extends "SimAppBundle::layouts.html.twig" %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron">
                <h2>客户: {{ client.name }}</h2>
            </div>
        </div>

        <div class="col-md-6">
            <div class="page-header">
                <h3>
                    {{ 'twig.client.update.fixed_profile' | trans | raw }}
                    <small><a href="{{ url('edit_client' , {'client_id' : client.id}) }}">{{ 'twig.return' | trans | raw }}</a></small>
                </h3>
            </div>
            {{ form(form) }}

        </div>

        <div class="col-md-6 {% if high_light %}high_light{% else %}high_light_disable{% endif %}">
            <div class="page-header">
            <h3>
                {{ 'twig.client.update.user_defined_profile' | trans | raw }}
                <small><a href="{{ url('edit_client' , {'client_id' : client.id}) }}">{{ 'twig.return' | trans | raw }}</a></small>
            </h3>
            </div>

            <div>
                {{ form(fluent_form) }}
            </div>

            <hr/>

            <table class="table">
                <tr>
                    <td>{{ 'twig.key' | trans | raw }}</td>
                    <td>{{ 'twig.value' | trans | raw }}</td>
                    <td>{{ 'twig.action' | trans | raw }}</td>
                </tr>
                {% for fluent in client.fluent %}
                <tr>
                    <td>{{ fluent.subject }}</td>
                    <td><strong>{{ fluent.value }}</strong></td>
                    <td>
                        <a href="{{ url('update_client' , { 'client_id': client.id , 'fluent_id': fluent.id}) }}">编辑</a>
                        <a href="{{ url('drop_fluent' , {'fluent_id': fluent.id}) }}">删除</a>
                    </td>
                </tr>
                {% endfor %}
            </table>


        </div>
    </div>


{% endblock %}