{% extends "SimAppBundle::layouts.html.twig" %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron">
                <h2>客户: {{ client.name }}</h2>
            </div>
        </div>

        <div class="col-md-6">
            <div class="page-header">
                <h3>更新固定客户资料
                    <small><a href="{{ url('edit_client' , {'client_id' : client.id}) }}">返回</a></small>
                </h3>
            </div>
            {{ form(form) }}

        </div>

        <div class="col-md-6">
            <div class="page-header">
            <h3>
                更新自定义客户资料
                <small><a href="{{ url('edit_client' , {'client_id' : client.id}) }}">返回</a></small>
            </h3>
            </div>

            <div {% if high_light %}class="high_light"{% else %}class="high_light_disable"{% endif %}>
                {{ form(fluent_form) }}
            </div>

            <hr/>

            <table class="table">
                <tr>
                    <td>属性</td>
                    <td>值</td>
                    <td>操作</td>
                </tr>
                {% for fluent in client.fluent %}
                <tr>
                    <td>{{ fluent.subject }}</td>
                    <td><strong>{{ fluent.value }}</strong></td>
                    <td>
                        <a href="{{ url('update_client' , { 'client_id': client.id , 'fluent_id': fluent.id}) }}">编辑</a>
                        <a href="{{ url('drop_fluent' , {'fluent_id': fluent.id}) }}">删除</a>
                    </td>
                </tr>
                {% endfor %}
            </table>


        </div>
    </div>


{% endblock %}