{% extends "SimAppBundle::layouts.html.twig" %}

{% block body %}

        <div class="container">
            <div class="row">

                <div class="col-md-6">

                    <div class="page-header">
                        <h1>数据操作记录</h1>
                    </div>

                {% for log in logs %}

                        <div class="log_info">

                            <span class="log_icon">
                            {% if log.action == 'create' %}
                                <i class="fa fa-plus"></i>
                            {% elseif log.action == 'update' %}
                                <i class="fa fa-refresh"></i>
                            {% endif %}
                            </span>

                            <a href="#">{{ log.username }}</a>
                            {{ log.action | translate }} 了 <a href="">{{ log.objectClass | translate }}</a> 的信息:

                            <strong>{{ log | log_to_string }}</strong>


                            <span class="time">{{ time_diff(log.loggedAt) }}</span>

                        </div>

                {% endfor %}
                </div>

            </div>
        </div>

{% endblock %}