{% extends "SimAppBundle::layouts.html.twig" %}

{% block body %}
    
        <div class="container">
            <div class="row">

                <div class="col-md-6">

                    <div class="page-header">
                        <h1>{{ 'twig.home.log' | trans | raw }}</h1>
                    </div>

                    {% for log in logs %}

                            <div class="log_info">
                                {{ log.id }}
                                <span class="log_icon">
                                {% if log.action == 'create' %}
                                    <span class="fa-stack fa-lg">
                                        <i class="fa fa-square-o fa-stack-2x"></i>
                                        <i class="fa fa-plus fa-stack-1x"></i>
                                    </span>
                                {% elseif log.action == 'update' %}
                                    <span class="fa-stack fa-lg">
                                        <i class="fa fa-square-o fa-stack-2x"></i>
                                        <i class="fa fa-refresh fa-stack-1x"></i>
                                    </span>
                                {% elseif log.action == 'remove' %}
                                    <span class="fa-stack fa-lg">
                                        <i class="fa fa-square-o fa-stack-2x"></i>
                                        <i class="fa fa-trash fa-stack-1x"></i>
                                    </span>
                                {% endif %}
                                </span>

                                <a href="#">{{ log.username }}</a>
                                {{ log.action | translate }} {{ log.objectClass | translate }} :

                                <strong>{{ log | log_to_entity | raw }}</strong>

                                <span class="time">{{ time_diff(log.loggedAt) }}</span>

                            </div>

                    {% endfor %}

                    {{ knp_pagination_render(logs) }}
                </div>

            </div>
        </div>

{% endblock %}