{% extends "SimAppBundle::layouts.html.twig" %}

{% block title %}SimAppBundle:Linkman:home{% endblock %}

{% block body %}

    <div class="jumbotron">
        <h2>{{ 'twig.note.create' | trans | raw }}</h2>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="page-header">
                    <h2><i class="fa fa-pencil"></i> Create note</h2>
                </div>
                {{ form(form) }}

            </div>

            <div class="col-md-6">
                <div class="page-header">
                    <h2><i class="fa fa-list"></i> List of notes</h2>
                </div>
                <div class="col-md-12">
                    <table class="table">
                        {% for note in notes %}
                        <tr>
                            <td><a href="{{ url('view_note' , {'id': note.id }) }}">{{ note }}</td>
                            <td>{{ note.expiredAt | date('Y-m-d H:i:s') }}</td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>

        </div>
    </div>
{% endblock %}


