{% extends "SimAppBundle::layouts.html.twig" %}

{% block title %}SimAppBundle:Linkman:home{% endblock %}

{% block body %}

    <div class="jumbotron">
        <h2>{{ 'twig.note.create' | trans | raw }}</h2>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="page-header">
                    <h2><i class="fa fa-file"></i> Details of note</h2>
                </div>

                <table class="table">

                    <tr>
                        <td>Subject</td>
                        <td>{{ note.subject }}</td>
                    </tr>

                    <tr>
                        <td>Content</td>
                        <td>{{ note.content }}</td>
                    </tr>

                    <tr>
                        <td>Expired At</td>
                        <td>{{ note.expiredAt | date('Y-m-d H:i:s') }}</td>
                    </tr>

                </table>

            </div>

            <div class="col-md-6">
                <div class="page-header">
                    <h2><i class="fa fa-comment"></i> Comments of note</h2>
                </div>
                <div class="col-md-12">

                    {{ form(form) }}

                    <hr/>

                    <table class="table">

                        <tr>
                            <td>Comment List</td>
                        </tr>
                        {% for message in note.noteComment %}
                        <tr>
                            <td title="{{ message.createdAt | date('Y-m-d H:i:s') }}">{{ message }}</td>
                        </tr>
                        {% endfor %}

                    </table>

                </div>
            </div>

        </div>
    </div>
{% endblock %}


