{% extends "SimAppBundle::layouts.html.twig" %}

{% block title %}SimAppBundle:Linkman:home{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            
            <div class="jumbotron">
                <h2>{{ 'twig.event.create.create_a_project' | trans | raw }}</h2>
            </div>

            <div class="page-header">
                <h1>(2){{ 'twig.event.create.assign_to_project' | trans | raw }}

                    <small>
                        {% if event.project %}
                            已经分配到项目 {{ event.project }}
                        {% else %}
                            {{ 'twig.event.create.assign_to_project_description' | trans | raw }}
                        {% endif %}
                    </small>

                </h1>
            </div>


                <h3>{{ 'twig.event.create.event_subject' | trans | raw }}: {{ event.subject }}</h3>
                <h3>{{ 'twig.event.create.event_content' | trans | raw }}: {{ event.content }}</h3>

        </div>

    </div>

    <div class="row">

        <div class="col-md-6">
            <div class="page-header">
                <h2>{{ 'twig.event.create.to_current' | trans | raw }}</h2>
            </div>
            {{ form(select_form) }}

        </div>


        <div class="col-md-6">
            <div class="page-header">
                <h2>{{ 'twig.event.create.to_new' | trans | raw }}</h2>
            </div>
            {{ form(form) }}

        </div>


    </div>

{% endblock %}
