{% extends "SimAppBundle::layouts.html.twig" %}

{% block title %}SimAppBundle:Linkman:home{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            
            <div class="jumbotron">
                <h2>创建一个项目</h2>
            </div>

            <div class="page-header">
                <h1>(2)把事件分配给项目

                    <small>
                        {% if event.project %}
                            已经分配到项目 {{ event.project }}
                        {% else %}
                            找到对应的项目或者创建新项目
                        {% endif %}
                    </small>

                </h1>
            </div>


                <h3>事件名: {{ event.subject }}</h3>
                <p>事件内容: {{ event.content }}</p>

        </div>

    </div>

    <div class="row">

        <div class="col-md-6">
            <div class="page-header">
                <h2>分配给现有的项目</h2>
            </div>
            {{ form(select_form) }}

        </div>


        <div class="col-md-6">
            <div class="page-header">
                <h2>分配给新的项目</h2>
            </div>
            {{ form(form) }}

        </div>


    </div>

{% endblock %}
