<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="author" content="mot.evans <mot.wu@makotoglobal.com>">
    <title>擀霸客户管理</title>
    <!-- Bootstrap core CSS -->
    <link href="{{ asset('dist/css/bootstrap.css') }}" rel="stylesheet">
    <link href="{{ asset('dist/css/doc.css') }}" rel="stylesheet">
    <link href="{{ asset('dist/css/p.css') }}" rel="stylesheet">
    <link href="{{ asset('simapp/css/main.css') }}" rel="stylesheet">
    <link href="{{ asset('datetime-picker/css/bootstrap-datetimepicker.min.css') }}" rel="stylesheet" media="screen">
    <link href="{{ asset('notify/pnotify.custom.min.css') }}" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="http://cdn.bootcss.com/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link href="{{ asset('font-awesome/css/font-awesome.css') }}" rel="stylesheet">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">
    {% block stylesheets %}
        {% stylesheets filter='cssrewrite'
        'bundles/pinanoselect2/css/select2.css'
        %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
    {% endblock %}
    <link rel="icon" href="/favicon.ico">
    <script>
        var _hmt = _hmt || [];
    </script>

</head>
<body>

{% include "SimAppBundle::navigator.html.twig" %}

<div class="container">
    {% block body %}{% endblock %}
</div>

<footer class="bs-docs-footer" role="contentinfo">
    <div class="container">

        <p>Designed and built with all the love in the world by <a href="http://segmentfault.com/blog/404" target="_blank">@mot_evans</a> and <a href="#" target="_blank">GembaChina PD Team</a>.</p>

    </div>
</footer>


<script src="{{ asset('jquery.js') }}"></script>
<script src="{{ asset('dist/js/bootstrap.min.js') }}"></script>
<script src="{{ asset('notify/pnotify.custom.min.js') }}"></script>

<script type="text/javascript" src="{{ asset('datetime-picker/js/bootstrap-datetimepicker.js') }}" charset="UTF-8"></script>
<script type="text/javascript" src="{{ asset('datetime-picker/js/locales/bootstrap-datetimepicker.zh-CN.js') }}" charset="UTF-8"></script>
<script type="text/javascript">
    $(function(){

        $('[data-provider="datepicker"]').datetimepicker({
            autoclose: true,
            format: 'yyyy/mm/dd',
            language: 'fr',
            minView: 'month',
            pickerPosition: 'bottom-left',
            todayBtn: true,
            startView: 'month'
        });

        $('[data-provider="datetimepicker"]').datetimepicker({
            autoclose: true,
            format: 'yyyy/mm/dd HH:ii',
            language: 'fr',
            pickerPosition: 'bottom-left',
            todayBtn: true
        });

        $('[data-provider="timepicker"]').datetimepicker({
            autoclose: true,
            format: 'hh:ii',
            formatViewType: 'time',
            maxView: 'day',
            minView: 'hour',
            pickerPosition: 'bottom-left',
            startView: 'day'
        });

        // Restore value from hidden input
        $('input[type=hidden]', '.date').each(function(){
            if($(this).val()) {
                $(this).parent().datetimepicker('setValue');
            }
        });

    });




</script>

{% for type, messages in app.session.flashbag.all() %}
    {% for message in messages %}
        <script>
        PNotify.desktop.permission();
        (new PNotify({
        title: '{{ type }}',
        text: '{{ message }}',
        desktop: {
        desktop: true,
        icon: 'https://avatars1.githubusercontent.com/u/1488116?v=3&s=460'
        }
        })).get().click(function(e) {
        if ($('.ui-pnotify-closer, .ui-pnotify-sticker, .ui-pnotify-closer *, .ui-pnotify-sticker *').is(e.target)) return;
        });
        </script>
    {% endfor %}
{% endfor %}

{% block javascripts %}
    {% javascripts
    '@PinanoSelect2Bundle/Resources/public/js/select2.min.js'
    '@PinanoSelect2Bundle/Resources/public/js/select2_locale_zh-CN.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

<script>
    $(document).ready(function() {
        $("select").select2({
            placeholder: "{{ 'twig.select' | trans | raw }}",
            allowClear: true
        });
    });
</script>

{% block js %}{% endblock %}

</body>
</html>