<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="author" content="mot.evans <mot.wu@makotoglobal.com>">
    <title> - </title>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{{ asset('bootcards/dist/css/bootcards-desktop.min.css') }}">
    <link href="{{ asset('dist/css/bootstrap.css') }}" rel="stylesheet">
    <link href="{{ asset('dist/css/bootstrap-theme.min.css') }}" rel="stylesheet">

    <link href="{{ asset('dist/css/doc.css') }}" rel="stylesheet">
    <link href="{{ asset('dist/css/p.css') }}" rel="stylesheet">
    <link href="{{ asset('simapp/css/main.css') }}" rel="stylesheet">
    <link href="{{ asset('datetime-picker/css/bootstrap-datetimepicker.min.css') }}" rel="stylesheet" media="screen">
    <link href="{{ asset('notify/pnotify.custom.min.css') }}" rel="stylesheet">
    <link href="{{ asset('bootstrap-tour/build/css/bootstrap-tour-standalone.min.css') }}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="http://cdn.bootcss.com/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link href="{{ asset('font-awesome/css/font-awesome.css') }}" rel="stylesheet">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">
    {% block stylesheets %}
        {% stylesheets filter='cssrewrite'
        'bundles/pinanoselect2/css/select2.css'
        %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
    {% endblock %}
    <link rel="icon" href="/favicon.ico">
    <script>
        var _hmt = _hmt || [];
    </script>

</head>
<body>

{% include "SimAppBundle::navigator.html.twig" %}



<div class="container" style="margin-top: 80px;">
    {% block body %}{% endblock %}
</div>



<footer class="bs-docs-footer" role="contentinfo">
    <div class="container">

        <p>Designed and built with all the love in the world by <a href="http://segmentfault.com/blog/404" target="_blank">@mot</a> and <a href="#" target="_blank">GembaChina PD Team</a>.</p>

    </div>
</footer>


<script src="{{ asset('jquery.js') }}"></script>

<script src="{{ asset('jquery.pin.js') }}"></script>


<script src="{{ asset('dist/js/bootstrap.min.js') }}"></script>
<script src="{{ asset('notify/pnotify.custom.min.js') }}"></script>
<script src="{{ asset('jquery/headroom.min.js') }}"></script>
<script src="{{ asset('bootstrap-tour/build/js/bootstrap-tour-standalone.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('datetime-picker/js/bootstrap-datetimepicker.js') }}" charset="UTF-8"></script>
<script type="text/javascript" src="{{ asset('datetime-picker/js/locales/bootstrap-datetimepicker.zh-CN.js') }}" charset="UTF-8"></script>
<script type="text/javascript">
    $(function(){

        $('[data-provider="datepicker"]').datetimepicker({
            autoclose: true,
            format: 'yyyy/mm/dd',
            language: 'fr',
            minView: 'month',
            pickerPosition: 'bottom-left',
            todayBtn: true,
            startView: 'month'
        });

        $('[data-provider="datetimepicker"]').datetimepicker({
            autoclose: true,
            format: 'yyyy/mm/dd HH:ii',
            language: 'fr',
            pickerPosition: 'bottom-left',
            todayBtn: true
        });

        $('[data-provider="timepicker"]').datetimepicker({
            autoclose: true,
            format: 'hh:ii',
            formatViewType: 'time',
            maxView: 'day',
            minView: 'hour',
            pickerPosition: 'bottom-left',
            startView: 'day'
        });

        // Restore value from hidden input
        $('input[type=hidden]', '.date').each(function(){
            if($(this).val()) {
                $(this).parent().datetimepicker('setValue');
            }
        });
    });


    // Instance the tour
    var tour = new Tour({
            name: "tour",
            steps: [

            ],
            container: "body",
            keyboard: true,
            storage: false , //window.localStorage,
            debug: false,
            backdrop: true,
            backdropPadding: 0,
            redirect: true,
            orphan: false,
            duration: false,
            delay: false,
            basePath: "",
            template: "<div class='popover tour'><div class='arrow'></div> <h3 class='popover-title'></h3><div class='popover-content'></div> <div class='popover-navigation'><div class='btn-group'><button class='btn btn-sm btn-default disabled' data-role='prev'>« Prev</button><button class='btn btn-sm btn-default' data-role='next'>Next »</button></div><button class='btn btn-sm btn-default' data-role='end'>End tour</button></div>"
    });

    tour.addStep({
        path: "",
        element: ".high_light",
        placement: "bottom",
        title: false ,//"Start from crm home page",
        content: false , //"Here is the home page of the crm , we put all history to here , as you see , everyone and every operations are list on here",
        next: 0,
        prev: 0,
        animation: true,
        container: "body",
        backdrop: true,
        backdropPadding: false,
        reflex: false,
        orphan: false,
        template: false
    });

    // Initialize the tour
    tour.init();

    // Start the tour
    tour.start();

</script>

{% for type, messages in app.session.flashbag.all() %}
    {% for message in messages %}
        <script>
        PNotify.desktop.permission();
        (new PNotify({
        title: '{{ type }}',
        text: '{{ message }}',
        desktop: {
        desktop: true,
        icon: 'https://avatars1.githubusercontent.com/u/1488116?v=3&s=460'
        }
        })).get().click(function(e) {
        if ($('.ui-pnotify-closer, .ui-pnotify-sticker, .ui-pnotify-closer *, .ui-pnotify-sticker *').is(e.target)) return;
        });
        </script>
    {% endfor %}
{% endfor %}

{% block javascripts %}
    {% javascripts
    '@PinanoSelect2Bundle/Resources/public/js/select2.min.js'
    '@PinanoSelect2Bundle/Resources/public/js/select2_locale_zh-CN.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

<script>
    $(document).ready(function() {
        $("select").select2({
            placeholder: "{{ 'twig.select' | trans | raw }}",
            allowClear: true
        });
    });
</script>

<script>
    $(function(){
        $(".note").pin()
    });
</script>

{% block js %}{% endblock %}

</body>
</html>