<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="/"><img width="50px" src="{{ asset('logo.png') }}"></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a id="home" href="/">{{ 'nav.home' | trans | raw }}</a></li>
                <li><a id="create" href="{{ url('builder_home') }}">{{ 'nav.create' | trans | raw }}</a></li>
                <li><a id="connect" href="{{ url('connect_home') }}">{{ 'nav.contacts' | trans | raw }}</a></li>
                <li><a id="client" href="{{ url('client_home') }}">{{ 'nav.client' | trans | raw }}</a></li>
                <li><a id="project" href="{{ url('project_home') }}">{{ 'nav.project' | trans | raw }}</a></li>
                <li><a id="project" href="{{ url('list_of_notes') }}">{{ 'nav.note' | trans | raw }}</a></li>

                <li><a href="{{ url('facetime_home') }}">Video-Link</a></li>
            </ul>

        </div>
    </div>
</nav>